NovaHome_Frontend/NovaHome_Frontend/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50081/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50081/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50081/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NovaHome_Backend" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_isReg_InputMessage">
    <wsdl:part name="parameters" element="tns:isReg" />
  </wsdl:message>
  <wsdl:message name="IService1_isReg_OutputMessage">
    <wsdl:part name="parameters" element="tns:isRegResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isLoggedIn_InputMessage">
    <wsdl:part name="parameters" element="tns:isLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IService1_isLoggedIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:isLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IService1_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getRole_InputMessage">
    <wsdl:part name="parameters" element="tns:getRole" />
  </wsdl:message>
  <wsdl:message name="IService1_getRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_setUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:setUserRole" />
  </wsdl:message>
  <wsdl:message name="IService1_setUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:setUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_resetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:resetPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_resetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editUser_InputMessage">
    <wsdl:part name="parameters" element="tns:editUser" />
  </wsdl:message>
  <wsdl:message name="IService1_editUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:editUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="isReg">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isReg" message="tns:IService1_isReg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isRegResponse" message="tns:IService1_isReg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isLoggedIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isLoggedIn" message="tns:IService1_isLoggedIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isLoggedInResponse" message="tns:IService1_isLoggedIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUser" message="tns:IService1_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserResponse" message="tns:IService1_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getRole" message="tns:IService1_getRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getRoleResponse" message="tns:IService1_getRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/setUserRole" message="tns:IService1_setUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/setUserRoleResponse" message="tns:IService1_setUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/resetPassword" message="tns:IService1_resetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/resetPasswordResponse" message="tns:IService1_resetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editUser" message="tns:IService1_editUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editUserResponse" message="tns:IService1_editUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteUser" message="tns:IService1_deleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteUserResponse" message="tns:IService1_deleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isReg">
      <soap:operation soapAction="http://tempuri.org/IService1/isReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isLoggedIn">
      <soap:operation soapAction="http://tempuri.org/IService1/isLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IService1/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRole">
      <soap:operation soapAction="http://tempuri.org/IService1/getRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserRole">
      <soap:operation soapAction="http://tempuri.org/IService1/setUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/resetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <soap:operation soapAction="http://tempuri.org/IService1/editUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50081/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>